.card {
  height: 450px;
  width: 370px;
  margin: 20px 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px lightgray;
}
.card img {
  height: 65%;
}
.card__info {
  height: 25%;
}
.cart__actions {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.item__price {
  font-size: 25px;
}

.amount__actions button {
  background-color: white;
  border: none;
  width: 50px;
  height: 35px;
}
.amount__actions button:hover {
  background-color: lightgray;
}
.amount__actions p {
  width: 35px;
}
.remove__button {
  background-color: #f44336;
  padding: 5px 22px;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin-left: 46px;
}
.remove__button:hover {
  background-color: #bd352b;
}
